@import "tailwindcss";
.hero-bg {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.hero-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: (100vh);
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#root {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  max-width: 100vw;
}

* {
  box-sizing: border-box;
}